<div class="container-fluid d-flex flex-row align-items-center my-3 mb-3">
    <div class="col-3 me-2">
      <img src="{{books.thumbnail}}" alt="book image"> 
    </div>
    <div class="col-9">
      <div class="card-body">
        <h4 class="card-title text-center">Book Title: {{books.title}}</h4>
        <p class="card-text"><span class="fw-bold">Book Description:</span> {{books.description}}</p>
        <p><span class="fw-bold">Number of reviews: </span> {{reviews.length}}</p>
      </div>
    </div>
</div>


<form class="new-review-form form-floating">
  <div>
    <textarea class="form-control" id="review-content" name="review-content" placeholder="Write a review"></textarea>
  </div>
  <div class="mt-1 d-flex align-item-center justify-content-center">
    <input type="hidden" id="custId" name="custId" value="{{books.id}}">
    <button type="click" class="btn btn-outline-dark" id="commentBtn">Post My Review</button>
  </div>
</form>


{{#each reviews}}
<div class="container-fluid mt-5 mb-2">
  <div class="d-flex flex-row justify-content-between">
    <div>
      {{comment}}
    </div>
    <div>
      Written by: {{user.name}}
    </div>

    <div>
      <button type="click" class="btn btn-danger delCommentBtn" data-id="{{id}}">Delete</button>
    </div>
    
</div>
{{/each}}

<script src="/js/create-review.js"></script>
<script src="/js/delete-review.js"></script>
