<section class="container-fluid my-2" id="book-scroll">
  
    <div class="card mb-3">
      <div class="row g-0">
        {{#each books}}
        <div class="col-6">
          <img src="{{thumbnail}}" alt="book image"> 
        </div>
        <div class="col-6">
          <div class="card-body text-center">
            <h6></h6>
            <a href="/dashboard/book/{{id}}"><h4 class="card-title">Book Title: {{title}}</h4>   </a>
            <p class="card-text">Book Description: {{description}}</p>
            <p>Number of reviews: {{reviews.length}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

</section>

