<div class="container-fluid my-3" id="book-scroll">
  {{#each books}}
  <div class="d-flex flex-row align-items-center">
    <div class="col-3">
      <img src="{{thumbnail}}" alt="book image"> 
    </div>
    <div class="col-9">
      <div class="card-body text-center">
        <h6></h6>
        <a href="/dashboard/book/{{id}}" class="link-dark"><h4 class="card-title">Book Title: {{title}}</h4>   </a>
        <p class="card-text"><span class="fw-bold">Book Description:</span> {{description}}</p>
        <p><span class="fw-bold">Number of reviews: </span>{{reviews.length}}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
